.card:hover {
    transform: translateY(0%);
}

.watch-page .watch-icon {

    position: absolute;
    bottom: 5px;
    left: 50%px;

}

.watch-icon i:hover{

 cursor: pointer;
}

.watch-page #more {
    display: none;
}


.form-control:focus {
    box-shadow: none;
}

.card-inner{
    display: none;
}


.public-comments .card .btn {
    background-color: #921192 !important;
    border-color: #921192;
    color: #fff;
}
.public-comments  .card .btn:hover {
    background-color: #b915b9;
}

time {
    left: 2px !important;
    bottom: 0px;
}

.watch-page .fa-play {

    right: 46% !important; 
}

@media (min-width:992px)
{
    time {
        font-size: 13px;
    }

    .fa-play {
        font-size: 20px !important;
    }
}

@media (max-width:990px)
{
#mybtn {
    margin-bottom: 60px !important;
}
}


@media (max-width:570px)
{
.replay-time {
    font-size: 10px;
}
}